.build/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
**/.build/
.compact-test-build/
**/.compact-test-build/
node_modules/
.compact-runtime
tools/verify-proof-fixtures/out/
